<div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Latest News
                    </h3>
                    <div class="post">
                        <a href="#">
                            <img src="/images/recent_post1.png" class="img-circle">
                        </a>
                        <div class="date">
                            Wed, 12 Dec
                        </div>
                        <a href="#" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                    <div class="post">
                        <a href="#">
                            <img src="/images/recent_post2.png" class="img-circle">
                        </a>
                        <div class="date">
                            Mon, 12 Dec
                        </div>
                        <a href="#" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            We believed Trend Micro is a good place for your career !
                            <span></span>
                        </div>
                        <div class="author">
                            <img src="/images/user-display.png">
                            <div class="name">Tai Wei</div>
                            <div class="info">
                                Human Resource
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form action="#" method="post">
                        <input type="text" placeholder="Your name">
                        <input type="text" placeholder="Your email">
                        <textarea rows="3" placeholder="Message"></textarea>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 Look Inside The Company.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
        <!-- Scripts -->
        <script src="/3rd_party/jquery/jquery-1.9.1.min.js"></script>
    	<script src="/3rd_party/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascripts/default/base.js"></script>
    	<script src="/javascripts/default/theme.js"></script>
    	<script src="/javascripts/pages/index-slider.js"></script>
        <script type="text/javascript">
  		var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/kTLcZG7JmmNHmZ9IpDfkNA.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>