<!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/3rd_party/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default/base.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/default/theme.css">
    <link rel="stylesheet" type="text/css" href="/3rd_party/googlefont/font.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/about.css" media="screen" />