<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Look inside the company</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- header %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<style type="text/css"></style></head>
<body class="pull_top">
    <div class="navbar transparent navbar-inverse navbar-fixed-top">
    <!-- starts navibar -->
    <%- navibar %>
    <!-- end navibar -->  
    </div>
    <!-- starts content -->
    <%- content %>
    <!-- end content -->
    <!-- starts footer -->
    <footer id="footer">
        <%- footer %>
    </footer>
</body>
</html>