<html>
<head>
	<script src="/3rd_party/jquery/jquery-1.9.1.min.js"></script>
	<script src="//api.filepicker.io/v1/filepicker.js"></script>
</head>
<body>
<h3> Upload Photos </h3>
<input type="button" value="upload photos" onclick="javascript:uploadPhotos();"/>
<h4>Results</h4>
<div id="result">
	<div id="img"><img width="100px" src="https://www.filepicker.io/api/file/8E3oqTWFRWin3YIpYTbV" /> <span>https://www.filepicker.io/api/file/8E3oqTWFRWin3YIpYTbV</span></div>
</div>

<script type="text/javascript">
	//filepicker
	filepicker.setKey('AAhvacqKRFapIgzqz3Tmaz');
	
	//user voice
      var uvOptions = {};
	  (function() {
	    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
	    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/kTLcZG7JmmNHmZ9IpDfkNA.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
	  })();
	  
	  var $img = $('#img').remove().clone();
	  
	  function uploadPhotos(){
	  		//using filepicker.io
	        //filepicker.pickMultiple({
	        filepicker.pick({
			    mimetypes: ['image/*', 'text/plain'],
			    container: 'window',
			    services:['COMPUTER','URL','FACEBOOK','FLICKR','PICASA'],
			    openTo: 'COMPUTER',
			    maxSize: 3000*1024, //3 MB
			    multiple: 'true'
			  },
			  function(FPFile){
			  	$newimg = $img.clone();
				$newimg.find('img').attr('src', FPFile.url+'/convert?h=200&w=200&fit=crop')
			  	.end()
			  	.find('span').text(FPFile.url)
			  	.end();
			  	$('#result').prepend($newimg);
			  },
			  function(FPError){
			    console.log(FPError.toString());
			  }
			);
	  }
</script>
</body>
</html>
