/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 600px;
}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 600px;
}

.carousel-caption {
	/*background-color: transparent;*/
	background-color: white;
	position: absolute;
	top: 160px;
	left: 95px;
	width: 505px;
	height: 310px;
	opacity:0.9;      
}

.carousel-caption .title{
	padding-top: 30px;
}
.carousel-caption .slogn{
	font-size: 35px;
	padding-left: 5px;
	padding-top: 25px;
}
.carousel-caption .description{
	font-size: 18px;
	padding-left: 5px;
	padding-top: 25px;
	line-height: 25px;
}
.carousel-caption .btn_go{
	padding-top: 25px;
}


.logo_left_big{
	font-size: 70px;
	color: black;
}
.logo_right_big{
	font-size: 70px;
	color: white;
	background-color: #DF8E39;
	border-radius: 17px;
	padding-left: 5px;
	padding-right: 5px;
}



/**fade in**/
.carousel.carousel-fade .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.carousel-caption{
	z-index: 1500;	
}

.input-wrapper .search {
	width: 350px;
	height: 35px;
	margin-top: 20px;
	font-size: 20px;
	
}


/* Showcase services
-------------------------------------------------- */
#showcase .container {
   	width: 90%;
}


.thumbnails .first{
	 margin-left: 0px;
}


.thumbnails img{
	 width: 400px;
	 height: 290px;
}



