        <!-- Scripts -->
        <script src="/3rd_party/jquery/jquery-1.9.1.min.js"></script>
    	<script src="/3rd_party/bootstrap/js/bootstrap.min.js"></script>
		<script src="/javascripts/default/base.js"></script>
    	<script src="/javascripts/default/theme.js"></script>
    	<script src="/javascripts/lib/util/swsController.js"></script>
    	<script src="/javascripts/lib/util/swsUtil.js"></script>
    	<script src="//api.filepicker.io/v1/filepicker.js"></script>
    	<script type="text/javascript">
    	//about us global variable
    	var global_company_name = "<%=company_name%>";
    	var global_mode = "<%=mode%>";
    	
    	//filepicker
    	filepicker.setKey('AAhvacqKRFapIgzqz3Tmaz');
    	
    	//user voice
        var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/kTLcZG7JmmNHmZ9IpDfkNA.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>