<div class="navbar-inner sticky">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
			<strong class="brand"></strong>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li id="nav_index"><a href="/" class="btn-header active">PageMe - 商務社群網</a></li>
                    <li id="nav_company"><a class="btn-header" href="/login">開始建立</a></li>
                    <li id="nav_login"><a class="btn-header" href="/login">註冊 / 登入</a></li>
                    <li id="nav_user" class="dropdown"><a id="user_email" class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
						<ul class="dropdown-menu">
                            <li><a href="/logout">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</div>
