<div class="navbar-inner sticky">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
			<strong class="brand"></strong>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="/" class="active">Home</a></li>
                    <li id="nav_company"><a class="btn-header" href="/login">List Your Company</a></li>
                    <li id="nav_login"><a class="btn-header" href="/login">Sign in / Login</a></li>
                    <li id="nav_user" class="dropdown"><a id="user_email" class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
						<ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</div>


<!-- login widget -->
<div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
	<div class='lightbox-header'>
		<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
	</div>
	<div class='lightbox-content'>
		<div class="lightbox-caption"><p>Your caption here</p></div>
	</div>
</div>
