<div class="navbar-inner sticky">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">
                <strong>Inside - <%=company%></strong>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li><a href="#" class="active">HOME</a></li>
                    <li><a class="btn-header" href="#">List Your Company</a></li>
                    <li><a class="btn-header" href="#">Sign in / Login</a></li>
                </ul>
            </div>
        </div>
</div>