<% layout('../default/layout/layout.htm') -%>

<% stylesheet('/3rd_party/prettyPhoto/css/prettyPhoto.css') -%>
<% stylesheet('/stylesheets/pages/company.view.css') -%>	

<% script('/3rd_party/filepicker/filepicker.js') -%>
<% script('/3rd_party/prettyPhoto/js/jquery.prettyPhoto.js') -%>
<% script('/javascripts/pages/company.view.js') -%>




	<section id="feature_slider" class="disabled">
        <article class="slide" id="showcasing" style="background-image: url(/images/aqua.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div id="cover_0" class="info" style="display: none;">
                <h2></h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(/images/aqua.jpg); display: block; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div id="cover_1" class="info" style="display: none;">
                <h2></h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(/images/aqua.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div id="cover_2" class="info" style="display: none;">
                <h2></h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(/images/aqua.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div id="cover_3" class="info" style="display: none;">
                <h2></h2>                
            </div>
        </article>        
    </section>
    <!-- company slogan -->
    <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
			<div class="section_header">
				<h3>公司簡介</h3>
			</div>            
            <div class="start" id="slogan">
                <h3><p></p></h3>
            </div>
        </div>
    </div>
    <!-- working space -->
    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>工作環境</h3>
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div id="workspace" class="span4 feature">
                        <div class="img_box">
                            <a class="uploadpic" href="javascript:void(0)" >
                                <img src="http://placehold.it/285x215">
                                <span class="circle"> 
                                    <span class="plus"><i class="icon-resize-full icon-white"></i></span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6></h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>活動剪輯</h3>
            </div> 
            <div id="event" class="row feature">
                <div id="event_img" class="span6">
                    <div class="img_box">
                            <a class="uploadpic" href="javascript:void(0)" >
                                <img src="http://placehold.it/460x345">
                                <span class="circle"> 
                                    <span class="plus"><i class="icon-resize-full icon-white"></i></span>
                                </span>
                            </a>
					</div>
                </div>
                <div id="event_info" class="span6 info">
                    <h6></h6>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
	
	<!-- our team -->    
	<div id="team">
        <div class="container">
            <div class="section_header">
                <h3>經營團隊</h3>
            </div>
            <div class="row people" id="people_block">
                <div class="row row1">
                    <div id="people_cell" class="span6 bio_box">
                        <img class="headpic" src="http://placehold.it/171x171" alt="">
                        <div class="info">
                            <p class="name"></p>
                            <p class="area" id="people_title"></p>
                            <p class="area" id="people_quote"></p>
							<a  target="_blank" href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <p class="url hide" id="people_link"></p>
                        </div>
                	</div>
				</div>
            </div>
        </div>
    </div>
    
    
	<!-- latest news -->
    <div id="blog">
        <div class="container">
            <div class="section_header">
                <h3>最新報導</h3>
            </div>

            <!-- Post Row -->
            <div id="news_block" class="row post_row">
                <!-- Post -->
                <div id="news" class="span4 post">
                    <div class="img">
                        <img class="newspic" src="http://placehold.it/300x189" alt="">
                    </div>
                    <div class="text">
                        <h5><span class="title"></span></h5>
                        <span class="date"></span>
                        <p></p>
                    </div>
                    <div class="author_box">
                        <h6></h6>
                        <h4 class="hide"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- core value -->
    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>組織文化</h3>
            </div>
            <div class="row services_circles">
                <div id="core" class="span4 description">
                    <div class="text">
                        <h4></h4>
                        <p></p>
                    </div>
                </div>
                
                
                <div id="core_title" class="span7 areas">
                    <div class="circle">
                        <img src="/images/develop.png">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                <h3>工作機會</h3>
            </div>

            <div id="job_block" class="row charts_wrapp">
                <!-- Plan Box -->
                <div id="job" class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h6></h6>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">k</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p></p>
                            </div>
                            <p></p>
                            <a class="order" target="_blank" href="#">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="job_applyurl" class="start hide">
                <h6></h6>
            </div>
            <div class="start">
                <p class="morejobs">More Opening Positions !!</p>
                <a href="#" target="_blank">Apply Now!</a>
            </div>
        </div>
    </div>
    
    <!-- starts footer -->
    <footer id="footer">
    	<div class="container">
            <div class="row sections">
                <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        地址
                    </h3>
                    <div class="wrapper">
                    	<div class="quote" id="contact_info-address"></div>
                    	<div class="quote" id="contact_info-phone"></div>
                    </div>
                </div>
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        聯絡資訊
                    </h3>
                    <div class="wrapper">
                        <div class="author">
                            <img class="headpic" src="http://placehold.it/62x62">
                            <div class="name"><p></p></div>
                            <div class="info"><p></p></div>
                        </div>
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">聯絡我們</h3>
                    <p id="contact_info-email"></p>
                    <form id="emailusform" action="#" method="post">
                        <input type="text" placeholder="Your name">
                        <input type="text" placeholder="Your email">
                        <textarea rows="3" placeholder="Message"></textarea>
                        <input id="contact_email" type="hidden" placeholder="Your email" name="to">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <div class="span12">
                            <a id="contact_url" href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <p class="url hide" id="contact_info-url"></p>
                        </div>
                    </div>
                    <div class="row social hide" id="theme-color">
                        <div class="theme"></div>
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2013 Look Inside The Company.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>
    
    <!-- page variable -->
    <script type="text/javascript">
    	//about us global variable
    	var global_company_name = "<%=company_name%>";
    	var global_mode = "<%=mode%>";
    	var global_theme_color = "";
    </script>	
    	