<section id="feature_slider" class="disabled">
        <article class="slide" id="showcasing" style="background-image: url(http://wbpreview.com/previews/WB02634G3/img/backgrounds/indigo.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div class="info" style="display: none;">
                <h2>Most Special</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(http://wbpreview.com/previews/WB02634G3/img/backgrounds/aqua.jpg); display: block; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div class="info" style="display: none;">
                <h2>Working Space</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(http://wbpreview.com/previews/WB02634G3/img/backgrounds/color-splash.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div class="info" style="display: none;">
                <h2>Playing Ground</h2>
            </div>
        </article>
        <article class="slide" id="tour" style="background-image: url(http://wbpreview.com/previews/WB02634G3/img/backgrounds/indigo.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div class="info" style="display: none;">
                <h2>Most Comfortable</h2>                
            </div>
        </article>        
    </section>
    <div id="showcase">
        <div class="container">
            <div class="section_header">
                <h3>Working Space</h3>
            </div>            
            <div class="row feature_wrapper">
                <!-- Features Row -->
                <div class="features_op1_row">
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="/images/service1.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Employee's Desk</h6>
                            <p>
                                Everyone has a laptop with 27 inch monitor.
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="/images/service2.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Food Court</h6>
                            <p>
                                Free Coke, Free Fruit, Free Beeeeer !
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="/images/service3.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Meeting Rooms</h6>
                            <p>
                                -Video Confrence
                            </p>
                            <p>
                                -20 seats
                            </p>
                            <p>
                                -1 projector
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="/images/service3.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Meeting Rooms</h6>
                            <p>
                                -Video Confrence
                            </p>
                            <p>
                                -20 seats
                            </p>
                            <p>
                                -1 projector
                            </p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="span4 feature">
                        <div class="img_box">
                            <a href="#">
                                <img src="/images/service3.png">
                                <span class="circle"> 
                                    <span class="plus">+</span>
                                </span>
                            </a>
                        </div>
                        <div class="text">
                            <h6>Meeting Rooms</h6>
                            <p>
                                -Video Confrence
                            </p>
                            <p>
                                -20 seats
                            </p>
                            <p>
                                -1 projector
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="section_header">
                <h3>Events</h3>
            </div> 
            <div class="row feature">
                <div class="span6">
                    <img src="/images/showcase1.png">
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/images/features-ico1.png">
                        Beautiful on all devices
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6 info">
                    <h3>
                        <img src="/images/features-ico2.png">
                        Blog page included
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
                <div class="span6">
                    <img src="/images/showcase2.png" class="pull-right">
                </div>
            </div>
            <div class="row feature ss">
                <div class="span6">
                    <img src="/images/showcase3.png">
                </div>
                <div class="span6 info">
                    <h3>
                        <img src="/images/features-ico3.png">
                        Simple and clean coming soon page
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
	<div id="team">
        <div class="container">
            <div class="section_header">
                <h3>People</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/images/ale.png" alt="">
                        <div class="info">
                            <p class="name">Mike Chang</p>
                            <p class="area">CEO</p>
							<a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                        <img src="/images/ale.png" alt="">
                        <div class="info">
                            <p class="name">William Chang</p>
                            <p class="area">CTO & Co-Founder</p>
							<a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row row1">
                    <div class="span6 bio_box">
                        <img src="/images/ale.png" alt="">
                        <div class="info">
                            <p class="name">Larry Page</p>
                            <p class="area">Co-Founder</p>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                        <img src="/images/ale.png" alt="">
                        <div class="info">
                            <p class="name">Steve Jobs</p>
                            <p class="area">Creative Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Core Value</h3>
            </div>
            <div class="row services_circles">
                <div class="span4 description">
                    <div class="text active">
                        <h4>Plan what you need.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Develop your product or service.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to 
                            making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Design this theme to your needs.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                </div>

                <div class="span7 areas">
                    <div class="circle active">
                        <img src="/images/plan.png">
                        <span>Plan</span>
                    </div>
                    <div class="circle">
                        <img src="/images/develop.png">
                        <span>Develop</span>
                    </div>
                    <div class="circle last_circle">
                        <img src="/images/design.png">
                        <span>Design</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Pricing Option -->
    <div id="in_pricing">
        <div class="container">
            <div class="section_header">
                <h3>We Are Hiring</h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Project Manager</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">55k</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="#">Apply</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Software Engineer</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">100k</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="#">Apply</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="span4 standar">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>UX Designer</h3>
                            <div class="price">
                                <span class="dollar">$</span> 
                                <span class="qty">55k</span> 
                                <span class="month">/month</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>10</strong>
                                    Shared Projects
                                </p>
                                <p>
                                    <strong>4</strong>
                                    Team Members
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Storage
                                </p>
                            </div>
                            <a class="order" href="#">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start">
                <p>More Opening Positions !!</p>
                <a href="#">Apply Now!</a>
            </div>
        </div>
    </div>