<% layout('../default/layout/layout.htm') -%>

	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/intro_banner_1.jpg" alt="">
          <div class="container">
          </div>
        </div>
        <div class="item">
          <img src="/images/intro_banner_2.jpg" alt="">
          <div class="container">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
	<div class="carousel-caption">
    	<div class="title"><span class="logo_left_big">Page</span> <span class="logo_right_big">Me</span></div>
		<div class="slogn">建立你的企業人脈</div>
		<div class="description">PageMe 讓企業輕鬆的與全世界的優秀人才建立溝通管道。</p>
				註冊是免費的，當您加入成為我們的一份子，</p>
				您的公司會被全世界的優秀人才所見。</p>
		</div>
		<div class="btn_go"><button class="btn btn-large btn-success" onclick="window.location.href='/login';">開始建立</button></div>
    </div>
	
	
	<!-- working space -->
    <div id="showcase">
        <div class="container">
			<!-- Features Row -->
            <div class="row-fluid">
            	<ul class="thumbnails">
	              <li class="span4">
	                <div class="thumbnail">
	                  <img src="http://placehold.it/400x290">
	                  <div class="caption">
	                  	<p></p>
	                  </div>
	                </div>
	              </li>
	              
            	</ul>
            </div>
        </div>
    </div>
	
    <!-- starts footer -->
    <footer id="footer">
    	
    </footer>
    
    <!-- page variable -->
    <script type="text/javascript">
    </script>	
    	