<% layout('../default/layout/layout.htm') -%>

    <!-- create account -->
    <div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>發佈您的企業專頁</h3>
            </div>
            <div class="row login">
                <div class="span5 left_box">
                    <h3>註冊是免費的, 當您加入成為我們社群的一份子, 您的公司會被全世界優秀人才所見</h3>

                    <div class="perk_box">
                        <div class="perk">
                            <p><strong>快速發佈企業專頁</strong></p>
                            <p>非常簡易操作的發佈後台, 只要幾分鐘的時間, 您既可以成功的發佈您的企業專頁</p>
                        </div>
                        <div class="perk">
                            <p><strong>贏得好評</strong></p>
                            <p>企業專頁能助您宣傳公司文化與展示辦公環境, 不僅能提昇您的企業能見度, 更能贏得社群好評</p>
                        </div>
                        <div class="perk">
                            <p><strong>輕鬆管理</strong></p>
                            <p>您可隨時新增最新消息, 更換辦公室照片, 更新員工福利活動, 甚至是公告最新職缺, 操作簡易</p>
                        </div>
                    </div>
                </div>

                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
							<div class="form">
                                <form id="createForm" data-validate="parsley">
                                	<p id="label_urlname">挑選一個獨特的 PageMe 網址</p>
                                    <input id="urlname" type="text" placeholder="/專頁短網址" data-trigger="change" data-rangelength="[2,50]">
                                    <input id="email" type="text" placeholder="電子郵件" data-trigger="change" data-type="email">
                                    <input id="password" type="password" placeholder="密碼" data-trigger="change"  data-rangelength="[6,20]">
                                    <input id="password2" type="password" placeholder="確認密碼" data-trigger="change" data-rangelength="[6,20]">
                                    <div class="forgot">
                                        <span>已經有帳號了嗎?</span>
                                        <span class="login" id="login">請點此登入</span>
                                    </div>
                                    <input id="btnCreateUser" style="background: #5bb75b;" type="button" value="免費註冊">
                                    <input id="btnLoginUser" style="background: #5bb75b;" type="button" value="登入管理介面">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- starts footer -->
    <footer id="footer">
    	<div class="container">
        </div>
    </footer>

    <!-- page variable -->
    <script type="text/javascript">
    	var global_mode = "<%=mode%>";
    </script>	
    	