<% layout('../default/layout/layout.htm') -%>

<% stylesheet('/3rd_party/prettyPhoto/css/prettyPhoto.css') -%>
<% stylesheet('/stylesheets/pages/login.view.css') -%>	

	<!-- Sign In Option 1 -->
    <div id="sign_up1">
        <div class="container">
            <div class="row">
                <div class="span12 header">
                    <h4>Create your account</h4>
                    <p></p>
                </div>

                <div class="span3 division">
                    <div class="line l"></div>
                    <span></span>
                    <div class="line r"></div>
                </div>

                <div class="span12 footer">
                    <form>
                        <input type="text" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm Password">
                        <input type="submit" placeholder="Confirm Password" value="sign up">
                    </form>
                </div>

                <!-- <div class="span5 remember">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div> -->

                <div class="span12 dosnt">
                    <span>Already have an account?</span>
                    <a href="http://wbpreview.com/previews/WB02634G3/sign-in.html">Sign in</a>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- starts footer -->
    <footer id="footer">
    	<div class="container">
        </div>
    </footer>

    <!-- page variable -->
    <script type="text/javascript">
    </script>	
    	