<% layout('../default/layout/layout.htm') -%>


<% stylesheet('/stylesheets/pages/login.view.css') -%>
<% script('/3rd_party/parsley/parsley-standalone.min.js') -%>	
<% script('/javascripts/pages/login.view.js') -%>



    <!-- create account -->
    <div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>Sign up</h3>
            </div>
            <div class="row login">
                <div class="span5 left_box">
                    <h4>Create your account</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>

                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
							<div class="form">
                                <form id="createForm" data-validate="parsley">
                                	<input id="urlname" type="text" placeholder="/company_name" data-trigger="change" data-rangelength="[2,50]">
                                    <input id="email" type="text" placeholder="Email" data-trigger="change" data-type="email">
                                    <input id="password" type="password" placeholder="Password" data-trigger="change"  data-rangelength="[6,20]">
                                    <input id="password2" type="password" placeholder="Confirm Password" data-trigger="change" data-rangelength="[6,20]">
                                    <div class="forgot">
                                        <span>Already have an account?</span>
                                        <a href="sign-in.html">Sign in</a>
                                    </div>
                                    <input id="btnCreateUser" type="button" value="sign up">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- starts footer -->
    <footer id="footer">
    	<div class="container">
        </div>
    </footer>

    <!-- page variable -->
    <script type="text/javascript">
    </script>	
    	